.loan-form {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .loan-form label {
    font-weight: bold;
  }
  
  .loan-form .form-control {
    border-radius: 5px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  width: 500px;
}

.book-card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.03);
}

.book-content h3 {
  margin-bottom: 8px;
  color: #333;
}

.book-content p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.limited{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  color: white;
  padding: 10px;
}